<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Useful</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>hljs.highlightAll();</script>
</head>
<style>
.content {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  min-width: 680px;
  width: 75vw;
}
</style>
<body>
    <div class="container-flex content">
        <div class="jumbotron">
            <% snippets.forEach(snippet => { %>
            <a href="#" onclick="javascript:history.back();" class="text-light">Go Back</small></a>
            <h1 class="display-4 text-light"><%=snippet.title%></h1>

            <h2><span class="badge p-2 badge-dark" style="color: pink;"><%=snippet.language.toUpperCase();%></span></h2>
            <hr>
            <pre><code class="<%=snippet.language%> hljs bg-light text-dark p-4"><%=snippet.contents%></code></pre>
            <hr>
            <small class="text-muted float-right"><%=snippet.timestamp.toLocaleString('en-GB')%></small>
		<!--
			<form action="/remove" method="POST">
				<input type="text" class="form-control" name="title" value="<%=snippet.title%>" required>

				<button type="submit" class="btn btn-success">Delete</button>
            </form>
        -->
		<% }); %>

        </div>
    </div>
</body>
</html>